<a href="https://colab.research.google.com/github/AngelineLawrence/Python-Programming/blob/master/Cracking-The-Coding-Interview/1.Arrays_and_Strings/3_URLi.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
#URLi : Write a method to replace all spaces in a string with '%20  You may assume that the string has sufficient space at the end 
#to hold the additional characters,and that you are given the "true" length of the string. 
#(Note: If implementing in Java,please use a character array so that you can perform this operation in place.)

#EXAMPLE
#Input: "Mr John Smith ", 13 
#Output: "Mr%20John%20Smith"

In [0]:
def replace_space(str):
  return str.split(",")[0].replace(" ","%20")

In [0]:
print("Output : {}".format(replace_space("Mr John Smith, 13" )))

Output : Mr%20John%20Smith